@import "tailwindcss";

.sous-en-tete-0 {
  font-size: 40px;
  font-weight: bold;
  text-align: start;
}
.sous-en-tete-1 {
  font-size: 20px;
  text-align: start;
}
.sous-en-tete-2 {
  font-size: 15px;
  text-align: justify;
  margin-top: 30px;
  border: transparent;
  padding: 10px;
  font-style: italic;
}

.telechargement {
  font-size: 12px;
  margin-top: 30px;
  border: transparent;
  padding: 10px;
  text-align: center;
  width: 100%;
  text-decoration: underline;
}

.entete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
