@import "tailwindcss";

.evenement-titre {
  font-size: 15px;
  font-weight: bold;
}
.evenement-date {
  font-size: 12px;
  width: 200px;
  text-align: end;
}
.evenement-description {
  font-size: 13px;
  font-style: italic;
  text-align: justify;
  margin-bottom: 10px;
}
.evenement-position {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  max-width: 900px;
  gap: 30px;
}

.bodures-evenement {
  display: flex;
  justify-content: center;
  transition: all 0.5s;
  border: 1px solid transparent;
  padding: 25px;
  width: 100%;
  box-shadow: 0px 0px 0px rgb(241, 241, 241);
}
.bodures-evenement:hover {
  box-shadow: 0px 0px 20px rgb(223, 223, 223);
  cursor: pointer;
  box-shadow: 0px 0px 5px gray;
}
.logo {
  max-height: 60px;
  max-width: 100px;
  border-radius: 5px;
  margin-top: 4px;
  margin-bottom: 4px;
}
.date-position {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.bouton {
  font-weight: bolder;
  cursor: pointer;
  border-color: transparent;
  width: 20px;
  font-size: 1.2em;
}
.bouton:hover {
  border-color: white;
}
