@import "tailwindcss";

.sous-en-tete-0 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin: 10px;

}
.sous-en-tete-1 {
  font-size: 20px;
  text-align: center;
  margin: 10px;
}
.sous-en-tete-2 {
  font-size: 15px;
  text-align: center;
  margin: 50px 10px 0 10px;
  background-color: rgb(245, 245, 245);
  padding: 20px 20px 0px 20px;
  border-radius: 10px;
}

.entete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 40px;
}
