@import "tailwindcss";

.carte {
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  height: 270px;
  width: 220px;
  transition: box-shadow 0.3s ease;
  background: white;
}

.carte-permis {
  border-style: solid;
  border-width: 3px;
  border-color: #e42618;
  border-radius: 10px;
  padding: 10px;
  rotate: 5deg;
  width: 130px;
  color: #e42618;
}

.carte-titre {
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 5px;
}

.carte-description {
  font-size: 13px;
  font-style: italic;
  text-align: center;
}

.carte-competences-position {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.carte-interets-position {
  display: flex;
  /* flex-direction: column; */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* @media screen and (min-width: 768px) {
  .carte-interets-position {
    flex-direction: row;
    justify-content: center;
  }
} */

.photo-malo {
  scale: 40%;
  position: relative;
  top: -145px;
  left: -68.5px;
}
