@import "tailwindcss";
.autre-titre {
  font-size: 15px;
  font-weight: bold;
  color: #094196;
}
.autre-description {
  font-size: 13px;
  color: rgb(16, 62, 131);
  margin-top: 5px;
}

.competence {
  border: 1px solid #094196;
  padding: 0px 5px 2px 5px;
  margin: 0px 0px 0px 3px;
  border-radius: 20px;
  font-size: 10px;
}
