@import "tailwindcss";

.fenetre {
  padding: 1% 20% 1% 20%;
  border-color: rgb(255, 0, 0);
  width: 100%;
}
.chapitre {
  font-size: 20px;
  text-align: center;
  margin: 20px;
  font-weight: bold;
}
.parties {
  margin-top: 50px;
}

.font {
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
