@import "tailwindcss";

.evenement-titre {
  font-size: 15px;
  font-weight: bold;
}
.evenement-date {
  font-size: 12px;
  width: 200px;
  text-align: end;
}
.evenement-description {
  font-size: 13px;
  font-style: italic;
  text-align: justify;
  margin-bottom: 5px;
}
.evenement-position {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  margin-bottom: 20px;
  gap: 30px;
}

/* .bodures-evenement {
  transition: all 0.5s;
  border: 1px solid transparent;
  padding: 10px;
  width: 100%;
}
.bodures-evenement:hover {
  box-shadow: 0px 0px 5px gray;
} */

.bodures-evenement {
  transition: all 0.5s;
  border: 1px solid transparent;
  padding: 10px;
  width: 100%;
}
.bodures-evenement:hover {
  /* translate: 2px 0px; */
  box-shadow: 0px 0px 20px rgb(204, 204, 204);
}

.logo {
  height: 60px;
  border-radius: 5px;
  margin-top: 4px;
  margin-bottom: 4px;
}
.date-position {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bouton {
  font-weight: bolder;
  cursor: pointer;
  border-color: transparent;
  width: 20px;
  font-size: 1.2em;
}
.bouton:hover {
  border-color: white;
}

.competences-emip {
  padding: 4px 8px;
  background-color: #fef7e8;
  border-radius: 12px;
  font-style: normal; /* enlève l'italique du <i> */
  font-size: 12px;
  margin-right: 4px;
}

.competences-tlsM {
  padding: 4px 8px;
  background-color: #dcf3f7;
  border-radius: 12px;
  font-style: normal; /* enlève l'italique du <i> */
  font-size: 12px;
  margin-right: 4px;
}
