@import "tailwindcss";

.bouton-info:hover {
  cursor: pointer;
}

.popup-info {
  position: relative;
  background-color: white;
  border: transparent;
  border-radius: 20px;
  padding: 30px 30px 30px 30px;
  font-style: italic;
  font-size: 13px;
}
